:root {
    --color-white: rgb(255, 255, 255);
    --color-blue: rgb(52, 52, 189);
    --color-lightgrey: rgb(126, 126, 126);
    --color-errorBg: rgba(223, 24, 24, .1);
    --color-errorBr: rgba(223, 24, 24);
    --color-errorMsg: rgba(223, 24, 24);
    --color-successBg: rgba(5, 219, 76, 0.2);
    --color-successBr: rgba(5, 219, 76);
    --color-successMsg: rgb(5, 219, 76);
}
/* ==== CSS RESET ==================== */
*, *::before, *::after { box-sizing: border-box; }
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
html { /* color-scheme: light dark; */ }
body { 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh; 
    background-color: lightgray;
}
img, picture, svg, video {
    display: block;
    max-width: 100%;
}

.App {
    width: 100%;
    height: 100%;
}