.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    display: flex;
    flex-direction: column;

    min-height: 300px;
    width: clamp(200px, 40vw, 400px);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;

    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.191);
    transition: 200ms ease-in-out;
}

.form-container form {
    display: flex;
    position: relative;
    flex-direction: column;
    /* align-items: center; */
    padding: 2em;
    padding-bottom: 0;
}

.form-container form label {
    margin-bottom: .25em;

    color: var(--color-blue);
}

.form-input {
    position: relative;
    top: 0;

    margin-top: 1.5em;
    padding: 5px 8px;
    /* width: 100%; */


    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 2px;
    border-bottom-color: var(--color-lightgrey);

    text-align: center;

    transition: ease-in-out 200ms;
    outline: none;
}

.form-input:is(:active, :focus) {
    top: -2px;

    border-bottom-color: var(--color-blue);
}



.alt-form-div {
    display: flex;
    justify-content: center;
    
    margin-top: auto;
    padding: 1em;

}

.alt-form-div p {
    display: flex;
}

.auth-form-link {
    margin-left: .5em;
    color: rgb(6, 6, 204);
    text-decoration: underline;
}

.auth-form-link:is(:hover, :active) {
    color: purple;
    cursor: pointer;
}

/* .password-message */
.password-message {
    margin-top: 1em;
    padding: 0 .2em;

    text-align: center;
    font-size: .9rem;
    color: var(--color-lightgrey);
}


.error-message {
    margin: .5em 0;
    text-align: center;
}
.error-text {
    color: var(--color-errorMsg);
}
.success-text {
    color: var(--color-successMsg);
}
.input-error {
    background-color: var(--color-errorBg);
    border-bottom-color: var(--color-errorBr);
}
.input-success {
    background-color: var(--color-successBg);
    border-bottom-color: var(--color-successBr);
}
/* Verificaton div -------------------------------------------------- */
.verification-div {
    padding: 2em;
    padding-bottom: 0;
}
.verification-div form {
}
.verification-div h1 {
    font-size: 1.5rem;
    text-align: center;
}
/*  ============== */